  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Lista de Viagens
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Tipo de Excursão</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Origem</th>
            <th>Desino</th>
            <th>Total de Vagas </th>
            <th>Vagas Disponíveis</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let travel of travels">
              <td class="text-center w-25">{{travel.title}}</td>
              <td>{{travel.details}}</td>
            </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
